body {
    background-image: radial-gradient(circle, rgb(0, 0, 0), rgb(0, 20, 1), rgb(0, 43, 0));
    color: whitesmoke;
}

h1 {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.win-counter {
    position: absolute;
    top: 40%;
    left: 60px;
}

#board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 600px;
    height: 600px;
    background-color: rgb(0, 134, 0);
    border: 8px solid darkgreen;
    border-radius: 10px;
}

.square {  
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid darkgreen;
    color: white;
    font-size: 70px;
    font-family: Helvetica;
    font-weight: bold;
}

.game-result {    
    position: absolute;
    left: 40%
}

#new-game {
    margin: 30px auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}